@media screen and (min-width: 530px) {
    #newsfeed {
        max-width: 600px;
    }
}

@media screen and (max-width: 529px) {
    #newsfeed {
        max-width: 90%;
    }
}

#newpost {
    max-width: 100%;
}

#pseudopost {
    border: 8px solid;
    border-color: #c0c0c0;
    border-radius: 9px;
    padding: 3%;
    margin: 3%;
    color: #ffffff;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.post {
    border: 8px solid #c0c0c0;
    border-radius: 9px;
    padding: 3%;
    margin: 3%;
    color: #ffffff;
}

.text {
    font-size: 1.5em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.time {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
}

.delete {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #af2727;
    padding: 1%;
    border-radius: 3px;
}

.delete:hover {
    cursor: pointer;
}

.delete:active {
    background-color: #681717;
}

.submit {
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #48a543;
    padding: 1%;
    border-radius: 3px;
}

.submit:hover {
    cursor: pointer;
}

.submit:active {
    background-color: #2f692c;
}

.edit {
    margin-right: 2%;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #16b5e9;
    padding: 1%;
    border-radius: 3px;
}

.edit:hover {
    cursor: pointer;
}

.edit:active {
    background-color: #1083a9;
}

/* Spinner styles */
#loading {
    color: #fff;
    text-align: center;
    padding: 5px;
}

#spinner {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

.newsfeed_controls button{
    margin-right:1vw;
}