#numbers{
    flex-basis: 600px;
}

#numbers_title{
    color: white;
    font-size: 3em;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.numbers_container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 10%;
}

#numbers_editor button{
    margin-right:1vw;
}
.number{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    margin: 2%;
    padding: 2%;
    border: solid 2px white;
    border-radius: 5%;
    flex: 1 1 100px;
    text-align: center;
    max-width: 25%;

}

.number_editor{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: auto;
    margin: 2%;
    padding: 2%;
    border: solid 2px white;
    border-radius: 5%;
    flex: 1 1 100px;
    text-align: center;
    max-width: 40%;

}

.number_name{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    border-bottom: solid 1px white;
    padding-bottom: 10%;

}
.number_value{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2em;
    padding-top: 25%;
    padding-bottom: 25%;

}

.number_value_editor{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5em;
}
.number_name_editor{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border-bottom: solid 1px white;
    padding-bottom: 5%;
    padding-top: 5%;

}

.stat_setting{
    margin-left:3%;

}

.number_separator_editor{
    max-width: 20%;
}