body {
    background-color: #000000;

}


@media screen and (min-width: 801px){
    #header {
        position: sticky;
        max-width: 100%;
        background-color: #ff1d25;
        top: 0;
        color:#ffffff;
        padding: 1%;
        }
#title {
font-size: 3vw;
font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

#subtitle {
font-size: 1.7vw;
font-family: "Rubik Mono One", monospace;
font-weight: 400;
font-style: normal;
}
#subsubtitle {
    color:#ffffff;
    padding: 1%;
    font-size: 1.7vw;
font-family: "Rubik Mono One", monospace;
font-weight: 400;
font-style: normal;
}
}
@media screen and (max-width: 800px) and (min-width:451px){
    #header {
        position: sticky;
        max-width: 100%;
        background-color:  #ff1d25;
        top: 0;
        color:#ffffff;
        padding: 1%;
        }
    #title {
    font-size: 4vw;
    font-family: "Rubik Mono One", monospace;
      font-weight: 400;
      font-style: normal;
    }
    
    #subtitle {
    font-size: 3vw;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    }
    #subsubtitle {
        color:#ffffff;
        padding: 1%;
        font-size: 3vw;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
    }
    }

@media screen and (max-width: 450px){
        #header {
            position: sticky;
            width: 100%;
            background-color:  #ff1d25;
            top: 0;
            color:#ffffff;
            padding: 1%;
            display: flex;
            }
        #title {
        font-size: 1em;
        font-family: "Rubik Mono One", monospace;
          font-weight: 400;
          font-style: normal;
          flex: 1;
          margin-right: 10%;
          padding-right: 20%;
        }
        
        #subtitle {
        font-size: 1em;
        font-family: "Rubik Mono One", monospace;
        font-weight: 400;
        font-style: normal;
        flex: 1;
        text-align: right;
        }
        #subsubtitle {
            color:#ffffff;
            padding: 1%;
            font-size: 1em;
            font-family: "Rubik Mono One", monospace;
            font-weight: 400;
            font-style: normal;
        }
    }
    

#content{
    display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.flex{
    display: flex;
}