body {
    background-color: #000000;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
    color: #fff;
}

#bg_video{
    position: fixed;
    object-fit: cover;

    width: 100%;
    height: 100%;
    z-index: -1;
}

body.space {
    background-image: linear-gradient(to bottom, rgba(0,0,0,0),rgba(0,0,0,0),#340046);
    background-size: 140% 140%;
    animation: Aurora 20s ease infinite;
}

@keyframes Aurora {
    0%{background-position:0% 43%}
    50%{background-position:100% 58%}
    100%{background-position:0% 43%}}


#nflogo {
    max-height: 100px;
    text-align: center;
    margin: auto;
    padding: 1%;
    display: block;
    margin-top: 2%;
}

/* Landing page */
#landing_info {
    position: absolute;
    text-align: center;
    color: rgb(224, 224, 224);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#dashboard_id {
    margin: 5px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    color: rgb(247, 248, 248);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;

    :focus {
        outline: none;
        box-shadow: none;
        border-color: rgb(100, 153, 255);
    }

}

.landingbtn {
    margin: 5px;
    padding: 6px 12px;
    background: rgb(31, 32, 35);
    border: 1px solid rgb(60, 63, 68);
    border-radius: 4px;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(247, 248, 248);
    height: 46px;
    appearance: none;
    transition: border 0.15s ease 0s;
    cursor: pointer;
}



#header {
    position: sticky;
    background-color: #333333;
    top: 0;
    color: #ffffff;
    padding-left: 1%;
    z-index: 10;
}

#header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Rubik Mono One", monospace;
    font-weight: 400;
    font-style: normal;
}

#qrcode_and_logo {
    display: flex;
    justify-content: right;
    align-items: center;
}

#qrcode {
    padding-right: 1em;
}

#subtitle {
    color: #ffffff;
}
#subsubtitle{
    color: white;
    padding-left: 1%;
}

button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    color: black;
}

button:hover {
    background-color: #aaa;
}

button:active {
    background-color: #999;
}
@media screen and (min-width: 801px) {
    #header {
        max-width: 100%;
    }

    #title {
        font-size: 3vw;
    }

    #subtitle {
        font-size: 2vw;
    }

    #subsubtitle {
        font-size: 1.7vw;
    }

    .slot{
        overflow-y: scroll;
        height: 100vh;
    }
}

@media screen and (max-width: 800px) and (min-width:451px) {
    #header {
        max-width: 100%;
    }

    #title {
        font-size: 5vw;
    }

    #subtitle {
        font-size: 4vw;
    }

    #subsubtitle {
        font-size: 3vw;
    }

    #qrcode {
        display: none !important;
    }
}

@media screen and (max-width: 450px) {
    #header {
        width: 100%;
        display: flex;
    }

    #title {
        font-size: 10vw;
        flex: 1;
    }

    #subtitle {
        font-size: 1em;
        display: none;
        text-align: right;
    }

    #subsubtitle {
        font-size: 1em;
    }

    #logo {
        display: none;
    }

    #qrcode {
        display: none !important;
    }
}

@media screen and (min-width: 1280px) {
    #viewcontrol {
        display: none;

    }
    #bottom_spacer {
        display: none;
    }
}

@media screen and (max-width: 1279px) {
    #viewcontrol {
        display: block;
        width: 100%;
        text-align: center;
        position: relative;
        top: 40px;
        height: auto;
        padding-bottom: 60px;
    }
}

footer span {
    padding: 5px;
    cursor: pointer;
    user-select: none;
    pointer-events: all;
}

#homebutton {
    color: #EFEFEF;
    font-size: 1.5em;
    position: sticky;
    bottom: 0;
    float: right;
    pointer-events: none;
}

textarea,
input {
    color: #ffffff;
    background-color: #000000;
    padding: 2%;
    border-radius: 4px;
    resize: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #ccc;
    max-width: 90%;
}

select {
    color: #ffffff;
    background-color: #000000;
    padding: 2%;
    border-radius: 4px;
    resize: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    font-weight: bold;
    box-sizing: border-box;
    border: 2px solid #ccc;
    max-width: 100%;
}


.tabbtn {
    border: 4px solid #bcbcbc;
    background-color: #9c9c9c;
    border-radius: 12px 12px 0px 0px;
    color: #eaeaea;
    padding: 2%;
    margin-top: 20%;
    text-align: center;
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

.tabbtn:hover {
    border-color: #dcdcdc;
}

.tabbtn.clicked {
    background-color: #1f1f1f;
}

#content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}



/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 11;
    /* Sit on top */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 40%;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-y:scroll; 
}

.modal_tabs {

    margin: auto;
    padding: 8px;

    width: 40%;

}

.modal_tab{
    background-color: #1f1f1f;
    border: 1px solid #888;
    padding: 1%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 100%;
    cursor: pointer;
}

.modal_tab.selected_prefs {
    background-color: #464646;
}


.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    };
    
    } 
.loading_modal{
    display: none;
    background: rgba(0,0,0,0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: auto;
    z-index: 11;
} 

#modal_layer{
    display: none;
    background: rgba(0,0,0,0);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    overflow: auto;
} 

#bottom_spacer{
    height:15vh;
}

#cue_controls button{
    margin-right: 1vw;
    margin-top: 1vw;
}

.blue {
    background-color: lightblue;
}

.red {
    background-color: lightcoral;}