#timer {
    top: 25%;
    flex-basis: 600px;
    position: sticky;
    align-self: flex-start;
    padding-top: 1%;
}

#timer_editor {
    background-color: black;
}

@media screen and (min-width: 650px) {
    #timer {
        max-width: 600px;
    }
}

@media screen and (max-width: 649px) {
    #timer {
        max-width: 95%;
    }
}

.controller {
    min-width: 70px;
}

#right_panel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    margin-left: 5px;
}

#right_panel button {
    margin: 5px;
}


#left_panel button {
    height: 100%;
    width: 100%;
    font-size: 3em;
}

#left_panel {
    flex-grow: 1;
}

#timer_module {
    border: 8px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 3%;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    width: 100%;
}

#timer_controller {
    border: 2px solid #ccc;
    box-sizing: border-box;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
    padding: 1vw;
    flex-wrap: wrap;
    margin: auto;
}

#timer_controller_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#timer_status{
    align-self: center;
    padding: 0.5vw;
    font-size: 1.5em;


}

.btn {
    font-family: 'Courier New', Courier, monospace;
    background-color: #48a543;
    padding: 1%;
    border-radius: 3px;
    margin: 2%;
    color: #fff;
}

.btnb {
    font-family: 'Courier New', Courier, monospace;
    background-color: #16b5e9;
    padding: 1%;
    border-radius: 3px;
    margin: 2%;
    color: #fff;
}

#phaseflex {
    display: flex;
    flex-direction:column;
}

#round_selectors{
    flex-direction: row;
    display: flex;
    justify-content: flex-start;
}

#phaselist {
    font-size: 2.2em;
}

#addremove_rounds button{
margin-left:1vw;
margin-right:1vw;
}

#addremove_rounds{
text-align: center;
}


@media screen and (min-width: 800px) {
    #timer_module {
        font-size: 1em;
    }

    #timer_controller {
        padding: 2%;
        margin-top: 3%;
    }

    .btn {
        font-size: 0.8em;
    }

    .btnb {
        font-size: 0.8em;
    }

    #audio_test {
        font-family: sans-serif;
        color: #ddd;
        background-color: #555;
        border: 1px solid #999;
        width: fit-content;
        cursor: pointer;
    }
}

@media screen and (max-width:799px) {
    #timer_module {
        font-size: 2vw;
    }

    #timer_controller {
        display: flex;
        flex-direction: column;
        padding: 4%;
        margin: 3%;
        font-size: 1em;
        width: 90vw;
    }

    .btnb {
        font-size: 1em;
    }



    #phaseflex {
        flex-direction: column;
    }

    input[type=checkbox] {
        transform: scale(2);
    }

}

@media screen and (max-width:540px) {
    #table_container {
        display: block;
        overflow-x: auto;
        width: 100vw;
    }
}


.clock_block {
    padding: 3%;
    text-align: center;
}

.cturn {
    font-size: 1.75em;
}

.cphase {
    font-size: 3em;
}

#time {
    font-size: 6em;
}

#timer_phases {
    padding: 3%;
    margin: 3%;
    color: white;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-content: center;
}

.ctext {
    padding-left: 3%;
    color: white;
    font-size: 1em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.paddedbtn {
    padding: 3%;
}

.recentpost {
    border-color: #c0c0c0;
    background-color: #2A1336;
}

td,
th {
    color: #fff;
    padding: 10px;
    border-bottom: 1px solid #777;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.btn:hover {
    cursor: pointer;
}

.btn:active {
    background-color: #2f692c;
}

.btnb:hover {
    cursor: pointer;
}

.btnb:active {
    background-color: #1083a9;
}

#timer_editor_control {
    padding-top: 2.5%;
    text-align: center;
}

#timer_editor_control button{
    margin:1vw;
}

.this_phase {
    outline: 5px solid #ffffff;
    outline-offset: 0px;
    outline-style: double;
}

.material-symbols-outlined.big {
    font-size: 2em;
}

.pi_duration {
    width: 50%;
    text-align: center;
}